
<form action="/stars/new" method="post">

 <label>Star name: <input type="text" name="name" /></label>
 <label>Light Years: <input type="text" name="light_years" /></label>
 <input type="submit" value="Submit">

</form>
